In [1]:
#Libs
import pandas as pd
import tweepy

In [2]:
from functions import data_cleaner_tweets
from functions import data_cleaner
from functions import google_api
from functions import opinion

Downloading emoji data ...
... OK (Got response in 1.78 seconds)
Writing emoji data to C:\Users\kavin\.demoji/codes.json ...
... OK

In [3]:
#creds
creds = {'consumer_key':'Qpvt2iCSx7qpWcEhGPuAWAr99','consumer_secret':'xsHrcYZcoViXmuiGz72ATe8mxIrVtwSPxx4tzvAYPBgRGFTlev','access_token':'104474661-o0v2wR74pJuwTj0O2x4cZIFfIz2md26uOhPfm6zN','access_secret':'BVsJhMkWnu620KjTUuXefqPMVLKZgBw20ly6D8LPk7ulD'}
API_KEY = 'AIzaSyDBBjWDdCCj2mJDha2BVyNbVaPK03pJDBo'

In [4]:
#setup connection
auth = tweepy.OAuthHandler(creds['consumer_key'],creds['consumer_secret'])
auth.set_access_token(creds['access_token'],creds['access_secret'])

api = tweepy.API(auth,wait_on_rate_limit=True)

In [17]:
nooftweets = 1000

In [18]:
# acquiring  tweets. Features  : tweet text, location,date (from data)

tweets = tweepy.Cursor(api.search,q=['iphone11, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
i = [tweet.full_text for tweet in tweets] #Tweet text
tweets = tweepy.Cursor(api.search,q=['iphone11, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
j =[tweet.created_at for tweet in tweets] #Tweet creation time
tweets = tweepy.Cursor(api.search,q=['iphone11, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
k =[tweet.user.location for tweet in tweets] #tweet location
tweets = tweepy.Cursor(api.search,q=['iphone11, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
l =[tweet.retweet_count for tweet in tweets] #retweet count

In [19]:
#Transforming into pandas series

content = pd.Series(i)
time = pd.Series(j)
geo_loc = pd.Series(k)
retweet_count = pd.Series(l)

In [20]:
# joining the series to form the dataframe
df = pd.concat([time,content,geo_loc,retweet_count],axis=1)
df.columns = ['time','tweet','country','retweet_count']
df.head()

,time,tweet,country,retweet_count
0,2019-11-22 02:15:03,iPhone 11 Pro | Whitestone Dome Glass installa...,"Buffalo, NY",0
1,2019-11-22 02:00:59,iphone11,,1
2,2019-11-22 02:00:59,iPhone 11 is pissing me off. I have the phone ...,,1
3,2019-11-22 01:47:51,Found this for $5 on amazon and decided to try...,Pennsylvania,0
4,2019-11-22 01:46:53,iPhone Battery Health – 5 Vital Tips To Mainta...,L.A. all day,0

In [30]:
# Cleaning the data

df.tweet = data_cleaner_tweets(df.tweet) # cleans the tweet content of special chars, emojis, handle names and #tags
df.country = data_cleaner(df.country) # cleans the country name of any emojis,special chars
df.sort_values('retweet_count',inplace=True,ascending=False)
df.drop_duplicates(subset=['tweet'],keep='first',inplace=True)
df['sentiment'] = df.tweet.apply(opinion)
df.country = df.country.apply(google_api)

In [31]:
df.sentiment = df.sentiment.astype('category') # changing sentiment to category data type.

In [32]:
df.to_csv(r'D:\01_files\ML\DSC\Capstone Project 1\Datasets\apple_dataset.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 99 to 387
Data columns (total 5 columns):
time             592 non-null datetime64[ns]
tweet            592 non-null object
country          592 non-null object
retweet_count    592 non-null int64
sentiment        592 non-null category
dtypes: category(1), datetime64[ns](1), int64(1), object(2)
memory usage: 23.8+ KB

In [35]:
df.head()

,time,tweet,country,retweet_count,sentiment
99,2019-11-21 21:24:05,nct wayv 127 taekook jikook au smut fluff nsfw...,"Bourbonnais, IL",114559,Netural
275,2019-11-21 15:23:22,Excited to share this item from my etsy shop ...,Bukit Mertajam,114559,Netural
20,2019-11-22 00:27:34,It finally happened iphone11 after one week ha...,,1846,Positive
252,2019-11-21 16:10:45,Because iphone dont have 5g phones Mostly new ...,,1846,Netural
357,2019-11-21 12:46:17,Apple has launched its third generation of sm...,France,1506,Netural