In [30]:
#Libs
import pandas as pd
import tweepy

In [31]:
from functions import data_cleaner_tweets
from functions import data_cleaner
from functions import google_api#
from functions import opinion

In [32]:
#creds
creds = {'consumer_key':'Qpvt2iCSx7qpWcEhGPuAWAr99','consumer_secret':'xsHrcYZcoViXmuiGz72ATe8mxIrVtwSPxx4tzvAYPBgRGFTlev','access_token':'104474661-o0v2wR74pJuwTj0O2x4cZIFfIz2md26uOhPfm6zN','access_secret':'BVsJhMkWnu620KjTUuXefqPMVLKZgBw20ly6D8LPk7ulD'}
API_KEY = 'AIzaSyDBBjWDdCCj2mJDha2BVyNbVaPK03pJDBo'

In [33]:
#setup connection
auth = tweepy.OAuthHandler(creds['consumer_key'],creds['consumer_secret'])
auth.set_access_token(creds['access_token'],creds['access_secret'])

api = tweepy.API(auth,wait_on_rate_limit=True)

In [34]:
nooftweets = 600

In [35]:
# acquiring  tweets. Features  : tweet text, location,date (from data)

tweets = tweepy.Cursor(api.search,q=['GalaxyS10, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
i = [tweet.full_text for tweet in tweets] #Tweet text
tweets = tweepy.Cursor(api.search,q=['GalaxyS10, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
j =[tweet.created_at for tweet in tweets] #Tweet creation time
tweets = tweepy.Cursor(api.search,q=['GalaxyS10, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
k =[tweet.user.location for tweet in tweets] #tweet location
tweets = tweepy.Cursor(api.search,q=['GalaxyS10, -filter:retweets'],since='2019-11-14',lang='en',tweet_mode='extended',retweeted=False).items(nooftweets)
l =[tweet.retweet_count for tweet in tweets] #retweet count

In [36]:
#Transforming into pandas series

content = pd.Series(i)
time = pd.Series(j)
geo_loc = pd.Series(k)
retweet_count = pd.Series(l)

In [37]:
# joining the series to form the dataframe
df = pd.concat([time,content,geo_loc,retweet_count],axis=1)
df.columns = ['time','tweet','country','retweet_count']
df.head()

,time,tweet,country,retweet_count
0,2019-11-21 14:47:55,RT @SamMobiles: #GalaxyS11 could have up to 57...,"Dhaka, Bangladesh",18
1,2019-11-21 14:45:10,Samsung Galaxy S10 Lite specs sound anything b...,Global,0
2,2019-11-21 14:37:51,#GalaxyS11 will released in the Month of Jan O...,IN,0
3,2019-11-21 14:25:14,Galaxy S10 receives fifth One UI 2 beta update...,"Bengaluru, India",0
4,2019-11-21 14:23:36,Galaxy S10 receives fifth One UI 2 beta update...,"Qingdao, China",0

In [39]:
# Cleaning the data

df.tweet = data_cleaner_tweets(df.tweet) # cleans the tweet content of special chars, emojis, handle names and #tags
df.country = data_cleaner(df.country) # cleans the country name of any emojis,special chars
df.sort_values('retweet_count',inplace=True,ascending=False)
df.drop_duplicates(subset=['tweet'],keep='first',inplace=True)
df['sentiment'] = df.tweet.apply(opinion)
df.country = df.country.apply(google_api)

In [43]:
df.sentiment = df.sentiment.astype('category') # changing sentiment to category data type.

In [47]:
df.to_csv(r'D:\01_files\ML\DSC\Capstone Project 1\Datasets\samsung_dataset.csv',index=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275 entries, 134 to 599
Data columns (total 5 columns):
time             275 non-null datetime64[ns]
tweet            275 non-null object
country          275 non-null object
retweet_count    275 non-null int64
sentiment        275 non-null category
dtypes: category(1), datetime64[ns](1), int64(1), object(2)
memory usage: 11.1+ KB

In [46]:
df.head()

,time,tweet,country,retweet_count,sentiment
134,2019-11-20 11:03:49,It s Blackpink s Lisa on the GalaxyS10,Unknown,11910,Netural
220,2019-11-19 08:50:02,iKON x Samsung GalaxyS10 Launch Event at Man...,Unknown,9951,Netural
37,2019-11-21 09:42:09,A battery with the power to share power Galax...,United States,1245,Netural
74,2019-11-21 01:41:23,The next generation GalaxyS10 has arrived Don...,Unknown,1150,Netural
460,2019-11-16 06:11:10,Do you want to be the NextGenerationFan Here ...,India,385,Netural